.sidebar-2{
  position: fixed;
  left: 0;
  top:60px;
  bottom: 0;
  background-color: white;
  width: 70px;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  align-items: center;
  z-index: 200;
}

.home-image{
  height: 25px;
  width: 30px;
}
.explore-image{
  height: 25px;
  width: 30px;
}
.subscription-image{
  height: 25px;
  width: 30px;
}
.originals-image{
  height: 25px;
  width: 30px;
}
.youtube-music-image{
  height: 25px;
  width: 30px;
}
.library-image{
 height: 25px;
 width: 30px;
}


.home-name,.explore-name,.subscriptions-name,.originals-name,.youtube-music-name,.library-name{
  font-size: 10px;
}
.sidebar-link{
  height: 75px;
  z-index: 1;
  width: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebar-link:hover{
  background-color: lightgray;
  cursor: pointer;
}